<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
    <section name="generateToken" type="ServiceEsri.ConfigClass" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="20971510"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength is in bytes (B)  -->
        <requestLimits maxAllowedContentLength="1000000000"/>
        <!-- 100MB -->
      </requestFiltering>
    </security>
    <handlers>
      <add name="Prova" path="ServiceEsri.ServiceFile.ashx" type="ServiceEsri.ServiceFile" verb="*" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="AGS_AUTHUSERN" value="d1pudGw0aG56dHZFVXRGenNiQzhUanVIekk1ZEg1cTF3Wm50bDRobnp0dkVVdEZ6c2JDOFRqdUh6STVkSDVxMTPlEFRN9hJ6Eai99b7bkg1qf2gR1z8SMqynqwPTebqE"/>
    <add key="AGS_AUTHUSERP" value="d1pudGw0aG56dHZFVXRGenNiQzhUanVIekk1ZEg1cTF3Wm50bDRobnp0dkVVdEZ6c2JDOFRqdUh6STVkSDVxMTPlEFRN9hJ6Eai99b7bkg1qf2gR1z8SMqynqwPTebqE"/>
    <add key="AGS_AUTHUSERDOM" value="d1pudGw0aG56dHZFVXRGenNiQzhUanVIekk1ZEg1cTF3Wm50bDRobnp0dkVVdEZ6c2JDOFRqdUh6STVkSDVxMaeKs1csL4w7rpuTdA6dintNMdbdT/w9Aj8F3Hxxhk6w"/>
  </appSettings>
  
  <generateToken>
    <server>
      <add portal="https://gis20.a20g.lan/" url="https://gis20ags.a20g.lan/agsi"/>
      <add portal="https://gis20.a20g.lan/" url="https://gis20ags.a20g.lan/agse"/>
    </server>
  </generateToken>


</configuration>