/*
	- Document: Widget common styles
	- Version:  1.0.0
	- Client:   ESRI Italia
	- Author:   F. Gargiulo
*/

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.align-center {
    text-align: center;
}


/* CLEARFIX */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* BUTTONS BAR */
.buttons-bar {
    line-height: 30px;
    margin: 5px 0 20px 0;
}

/* COLS */
.cols-20-percent {
    width: 20%;
    float: left;
}

.cols-30-percent {
    width: 30%;
    float: left;
}

.cols-50-percent {
    width: 50%;
    float: left;
}

.cols-70-percent {
    width: 70%;
    float: left;
}

.cols-80-percent {
    width: 80%;
    float: left;
}

/* SECTION PANEL */
.widget-section-panel {
    background-color: #EBEBEB;
    border: 1px solid #acacac;
    padding: 0px 10px 10px 10px;
    margin: 5px 0 20px 0;
}

.widget-section-panel h2 {
    margin-top: 10px;
}

.widget-section-panel .row label {
    display: block;
    margin: 15px 0 5px 0;
    color: #888888;
}

.claro .widget-section-panel .dijitTextBox {
    border-color: #b5bcc7;
    width: 250px;
}

/* FEEDBACKs PANEL */

.isa_feedback {
    border: 1px solid gray;
}

.isa_feedback i {
    display: block;
    float: left;
}

.isa_feedback span {
    display: block;
    float: left;
    width: calc(100% - 45px);
    padding: 10px;
    line-height: 20px;
}

.isa_info, .isa_success, .isa_warning, .isa_error {

}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}

.isa_feedback i {
    padding: 10px;
    font-size:2em;
    vertical-align:middle;
}

.isa_active {
    border: 0;
    color: gray;
    background-color: transparent;
}